:root {
	--blue: #7bbbd4;
	--purple: #8794db;
	--green: #7edfa2;
	--pink: #ee86b2;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	background: #14141d;
	display: grid;
	place-items: center;
}

.card {
	display: grid;
	place-items: center;
	overflow: hidden;
	border: 8px solid blue;
	border-radius: 200px;
	/* border-image-slice: 1; */

	/*  leverage cascade for cross-browser gradients  */
  /* border-image-source: linear-gradient(
    hsl(100 100% 60%),
    50%,
    hsl(200 100% 60%)
  );
  border-image-source: radial-gradient(
    hsl(100 100% 60%),
    75%,
    hsl(200 100% 60%)
  );
  border-image-source: conic-gradient(
    hsl(100 100% 60%), 
    hsl(200 100% 60%),
    hsl(100 100% 60%)
  ); */
}

/* img {
	border-width: 8px;
	border-style: solid;
	border-radius: 200px;
	border-image: conic-gradient(
			var(--blue),
			var(--purple),
			var(--green),
			var(--pink)
		)
		1 100%;
	padding: 4px;
} */